footer{
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: $font-base;
    color: $text-color;
    margin: 0;
    width: 100%;
    .footer__list ul li a:hover{
        background:#4a4a4a;
    }
    .footer__social ul li a:hover{
        background: #4a4a4a;
    }
    .footer__logo{
        width: 15%;
    }
    .footer__list ul li a{
        display: inline-block;
        padding: 0.5rem 0.5rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .footer__social{
        display: inline-block;
        text-align: center;
    }
    .footer__social ul li a{
        display: inline-block;
        padding: 0.5rem 0.5rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .footer__social p{
        font-size: $font-base;
    }
}