header{
    background: $primary;
    color:$text-color;
    .nav__a:hover{
        background: #4a4a4a;
    }
    .header__lista img:hover{
        background: #4a4a4a;    
    }
    .header__lista ul{
        @include flex(space-around,center, row nowrap);
        font-size: $font-base;

        a{
            color: $text-color;
        }
    }
    .header__lista img{
        width: 100px;
        transition: all 0.4s linear;
        border-radius: 50%;
    }
    .nav__a{
        padding: 1rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
}