.main__contact{
    width: 450px;
    background: #333;
    padding: 30px;
    margin: 100px auto;
    border-radius: 5px;
    font-family: var(--font-principal);
    color:var(--text-color);
    box-sizing: border-box;
    box-shadow: 7px 13px 37px #000;
}
.contact__form{
    padding: 30px;
    font-size: var(--font-base);
}
.contact__title{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.form__input{
    width: 100%;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #8F5E25;
    font-family: var(--font-secondary);
    font-size: var(--font-small);
    color: var(--text-color);
}
.contac__form label{
    height: 40px;
    text-align: center;
}
.form__submit{
    width: 100%;
    background: #8F5E25;
    border: none;
    padding: 12px;
    color: var(--text-color);
    margin: 16px 0;
    font-size: var(--font-base);
    border-radius: 4px;
}
@media screen and (max-width:600px) {
    .news-section{
        grid-template-areas: 'titulo titulo'
        't1 t1'
        't2 t2'
        't3 t3';
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 30% 30% 30%;
    }

    .main__contact{
        width: 100%;
    }
}
