.article{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    border-radius: 5px;
    overflow: hidden;
    & img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    & img{
        width: 100%;
        border-radius: 5px;
        transition: all 1s ease;
    }
    &__caption{
        color:white;
        padding: 3% 1rem;
        font-size: $font-medium;
    
    }
    &__paragraph{
        @extend .article__caption;
        font-size: $font-base;
    }
}
.container__style{
    background:rgba(143, 94, 37,0.2);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000;
    padding: 2em 1em;
}
.container__title{
    color: white;
    text-align: center;
    font-size: 50px ;
    text-decoration: underline;
    margin: 0;
    padding: 3rem 0;
}








