*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    body{
        font-family: var(--font-principal);
        background-image: url(../Img/fondo.jpg);
        /* margin: 0; */
    }
    a{
        text-decoration: none;
        /* font-family: var(--font-secondary);
        color: var(--text-color) */
    }
    ul{
        list-style-type: none;
        /* margin: 0; */
    }
    .container{
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
    }
}
