 /* colors */
    $primary:#363636;
    $secondary:#8F5E25;
    $base:rgba(51, 51, 51,0.7);
    $text-color:#efefef;

 /* spacings */
 $spacing-large:2.5rem;
 $spacing-base:2.0rem;
 $spacing-small:1.5rem;
 
 /* font fasmily */
 $font-principal:'Barlow', sans-serif;
 $font-secondary:'roboto slab', serif;

 /* font sizes */
 $font-large:4.0em;
 $font-medium:2.4em;
 $font-base:1.6em;
 $font-small:1.5em;